<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RENT IT</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cars"
            >Ana Sayfa</a
          >
        </li>
        <li *ngIf="isAdmin()" class="nav-item">
          <a class="nav-link active" routerLink="/cars/rentals">Kiralamalar</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Hakkımızda
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">başka boşluk</a></li>
            <li><a class="dropdown-item">başka boşluk</a></li>
            <li>
              <hr class="dropdown-divider" />
              <a class="dropdown-item">boşluk işte</a>
            </li>
            <li><a class="dropdown-item">ama yapmaaaa </a></li>
          </ul>
        </li>
        <li *ngIf="getFirstName()" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Hoşgeldin {{ firstName }}
          </a>
          <ul
            style="float: right"
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                routerLink="/profile"
                style="float: right"
                >Profil</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="logOut()" style="float: right"
                >Çıkış Yap</a
              >
            </li>
          </ul>
        </li>
        <li *ngIf="!isAuth()" class="nav-item">
          <a
            class="nav-link active me-2"
            routerLink="/register"
            style="float: right"
            >Kaydol</a
          >
        </li>
        <li *ngIf="!isAuth()" class="nav-item">
          <a
            class="nav-link active me-2"
            routerLink="/login"
            style="float: right"
            >Giriş Yap</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
