<div class="col-sm-6">
  <select [(ngModel)]="brandNumber" class="form-select" id="markasec">
    <option [value]="brandNumber">Marka seç</option>
    <option
      [value]="brand.brandId"
      selected="{{ getSelectedBrand(brand.brandId) }}"
      *ngFor="let brand of brands"
    >
      {{ brand.brandName }}
    </option>
  </select>
</div>

<div class="col-sm-6">
  <select [(ngModel)]="colorNumber" class="form-select" id="renksec">
    <option [value]="colorNumber">Renk seç</option>
    <option
      [value]="color.colorId"
      selected="{{ getSelectedColor(color.colorId) }}"
      *ngFor="let color of colors"
    >
      {{ color.colorName }}
    </option>
  </select>
</div>
<div class="col-sm-3">
  <a
    type="button"
    class="btn btn-outline-primary mr-2"
    ngbAutofocus
    routerLink="/cars/brandAdd"
    routerLink="/cars/filter/{{ brandNumber }}/{{ colorNumber }}"
    >Filtrele</a
  >
</div>
<div>
  <a
    routerLink="/cars"
    class="btn btn-outline-success mr-2"
    ngbAutofocus
    routerLink="/cars"
    >Tüm Arabalar</a
  >
</div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        MARKALAR
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div>
          <button
            class="btn btn-outline-primary mr-2"
            ngbAutofocus
            routerLink="/cars/brandAdd"
          >
            MARKA EKLE
          </button>
        </div>
        <div class="mb-3">
          <label for="filterText" class="form-label"></label>
          <input
            type="text"
            [(ngModel)]="filterText"
            class="form-control"
            id="filterText"
            placeholder="Marka Ara"
          />
        </div>

        <div *ngIf="filterText" class="alert alert-success">
          {{ filterText }} aradınız
        </div>
        <div>
          <ul class="list-group">
            <button
              routerLink="cars/brands"
              class="btn btn-outline-primary mr-2"
              ngbAutofocus
            >
              Tüm Markalar
            </button>
            <li
              (click)="setCurrentBrand(brand)"
              routerLink="/cars/brand/{{ brand.brandId }}"
              *ngFor="let brand of brands | brandFilter: filterText"
              [class]="getCurrentBrandClass(brand)"
            >
              {{ brand.brandName }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        RENKLER
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div>
          <button
            class="btn btn-outline-primary mr-2"
            ngbAutofocus
            routerLink="/cars/colorAdd"
          >
            RENK EKLE
          </button>
        </div>
        <div class="accordion-body">
          <div class="mb-3">
            <label for="filterText" class="form-label">Renk Ara</label>
            <input
              type="text"
              [(ngModel)]="filterText"
              class="form-control"
              id="filterText"
              placeholder="Renk Ara"
            />
          </div>

          <div *ngIf="filterText" class="alert alert-success">
            {{ filterText }} aradınız
          </div>
          <div>
            <ul class="list-group">
              <button
                routerLink="cars/colors"
                class="btn btn-outline-primary mr-2"
                ngbAutofocus
              >
                Tüm Renkler
              </button>

              <li
                (click)="setCurrentColor(color)"
                routerLink="/cars/color/{{ color.colorId }}"
                *ngFor="let color of colors | colorFilter: filterText"
                [class]="getCurrentColorClass(color)"
              >
                {{ color.colorName }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          MÜŞTERİLER
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="accordion-body">
            <li
              (click)="setCurrentCustomer(customer)"
              routerLink="/cars/rental/{{ customer.customerId }}"
              *ngFor="let customer of customers"
              [class]="getCurrentCustomerClass(customer)"
            >
              {{ customer.firstName }} {{ customer.lastName }}
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
