<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>Marka Güncelle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="brandUpdateForm">
          <div class="mb-3">
            <label for="brandName">
              Yeni Adı
              <small>===> şu anki adı: {{ brand?.brandName }} </small></label
            >
            <div class="form-group">
              <input
                type="text"
                id="brandName"
                formControlName="brandName"
                class="form-control"
                placeholder="Yeni Adı"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="updateBrand()">
          Güncelle
        </button>
      </div>
    </div>
  </div>
</div>
