<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden"></span>
</div>
<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Rengi</th>
      <th>Markası</th>
      <th>Günlük Ücreti</th>
      <th>Daha Fazlası</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of carDetails">
      <td>{{ car.carId }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>
        <button
          routerLink="/cars/cardetail/{{ car.carId }}"
          type="button"
          class="btn btn-light"
          (click)="getCarDetailsByCarId(car.carId)"
        >
          Detayları Gör
        </button>
      </td>
      <td>
        <button
          (click)="addToRental(car)"
          type="button"
          class="btn btn-success"
        >
          Kirala
        </button>
      </td>
    </tr>
  </tbody>
</table>
