<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden"></span>
</div>
<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
</div>

<div *ngIf="filterText" class="alert alert-success">
  {{ filterText }} aradınız
</div>
<div>
  <button
    class="btn btn-outline-primary mr-2"
    ngbAutofocus
    routerLink="/cars/carAdd"
  >
    Araba Ekle
  </button>
</div>
<div>
  <label></label>
</div>
<table
  *ngIf="dataLoaded == true"
  class="table table-responsive-md table-striped table-hover table-bordered"
>
  <thead>
    <tr>
      <th>Id</th>
      <th>Araba Adı</th>
      <th>Rengi</th>
      <th>Markası</th>
      <th>Günlük Ücreti</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of carDetails | filterPipe: filterText">
      <td>{{ car.carId }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.dailyPrice | currency: "₺" }}</td>
      <td>
        <button
          routerLink="/cars/cardetail/{{ car.carId }}"
          type="button"
          class="btn btn-light"
        >
          Detayları Gör
        </button>
      </td>
    </tr>
  </tbody>
</table>
