<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden"></span>
</div>
<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Car Id</th>
      <th>Customer Id</th>
      <th>Kiralama Tarihi</th>
      <th>Dönüş Tarihi</th>
      <th>Toplam Ücret</th>
    </tr>
  </thead>
  <tr *ngFor="let rental of rentals">
    <td>{{ rental.carId }}</td>
    <td>{{ rental.customerId }}</td>
    <td>{{ rental.rentDate }}</td>
    <td>{{ rental.returnDate }}</td>
    <td>{{ rental.totalPrice | currency: "₺" }}</td>
  </tr>
</table>
