<!-- <div class="container">
  <div>
    <app-navi></app-navi>
  </div>
  <div class="col-md-12">
    <div class="card" style="width: 60rem, margin auto">
      <div class="card-body">
        <div class="card-header">
          <div class="table-responsive-sm">
            <div
              *ngIf="dataLoaded == false"
              class="spinner-border text-primary"
              role="status"
            >
              <span class="visually-hidden"></span>
            </div>
            <table
              *ngIf="dataLoaded == true"
              class="table table-responsive-md table-striped table-hover table-bordered table caption-top"
            >
              <caption>
                Araba Detayı
              </caption>
              <thead>
                <tr>
                  <th>Resim(ler)</th>

                  <th>Markası</th>
                  <th>Araba Adı</th>
                  <th>Model Yılı</th>
                  <th>Rengi</th>
                  <th>Açıklama</th>
                  <th>Günlük Ücret</th>
                  <th>Findeks Puanı</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img
                      class="card-img-top"
                      *ngFor="let image of images"
                      style="width: 15rem"
                      src="https://localhost:44368\{{ image.imagePath }}"
                    />
                  </td>

                  <td>{{ carDetails?.brandName }}</td>
                  <td>{{ carDetails?.carName }}</td>
                  <td>{{ carDetails?.modelYear }}</td>
                  <td>{{ carDetails?.colorName }}</td>
                  <td>{{ carDetails?.description }}</td>
                  <td>{{ carDetails?.dailyPrice | currency: "₺" }}</td>
                  <td>{{ carDetails?.findexPoint }}</td>

                  <td>
                    <button
                      *ngIf="isFindexEnough()"
                      routerLink="/cars/payment/{{ carDetails?.carId }}"
                      type="button"
                      class="btn btn-outline-success"
                      style="float: right"
                    >
                      {{ carDetails?.dailyPrice | currency: "₺" }} Kirala
                    </button>
                  </td>
                  <td *ngIf="!isFindexEnough()">Findex Puanınız Yetersiz</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <button
        *ngIf="isAdmin()"
        type="button"
        class="btn btn-secondary"
        routerLink="update/{{ carDetails?.carId }}"
        style="float: right"
      >
        Güncelle
      </button>
      <div class="card-footer">
        <button
          routerLink="/cars"
          type="button"
          class="btn btn-warning"
          style="float: right"
        >
          Geri Dön
        </button>
        <button
          *ngIf="isCustomer()"
          routerLink="/customeradd"
          type="button"
          class="btn btn-outline-success"
          style="float: right"
        >
          Müşteri Ol
        </button>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div>
    <app-navi></app-navi>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <button
        routerLink="/cars"
        type="button"
        class="btn btn-warning"
        style="float: right"
      >
        Araba Listesine Dön
      </button>
    </div>
    <div
      *ngIf="dataLoaded == false"
      class="spinner-border text-primary"
      role="status"
    >
      <span class="sr-only"></span>
    </div>
    <div class="col-md-6">
      <img
        class="img-fluid img-thumbnail"
        *ngFor="let image of images"
        src="https://localhost:44368\{{ image.imagePath }}"
      />
    </div>
    <div class="col-md-6">
      <div class="card" style="width: 35rem">
        <div class="card-header">
          <button
            *ngIf="isAdmin()"
            type="button"
            (click)="deleteCar()"
            class="btn btn-outline-danger"
            style="float: right"
          >
            Sil
          </button>
          <h5 class="card-title">ARABA DETAYLARI</h5>
        </div>

        <div class="card-body">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">Araba Adı:</th>
                <td>{{ carDetails?.carName }}</td>
              </tr>
              <tr>
                <th scope="row">Markası:</th>
                <td>{{ carDetails?.brandName }}</td>
              </tr>
              <tr>
                <th scope="row">Modeli:</th>
                <td>{{ carDetails?.modelYear }}</td>
              </tr>
              <tr>
                <th scope="row">Rengi:</th>
                <td>{{ carDetails?.colorName }}</td>
              </tr>
              <tr>
                <th scope="row">Findeks Puanı:</th>
                <td>{{ carDetails?.findexPoint }}</td>
              </tr>
              <tr>
                <th scope="row">Günlük Vereceği Findeks Puanı:</th>
                <td>{{ carDetails?.giveToPoint }}</td>
              </tr>
              <tr>
                <th scope="row">Açıklama:</th>
                <td>{{ carDetails?.description }}</td>
              </tr>
              <tr>
                <th scope="row">Günlük Ücret:</th>
                <td>{{ carDetails?.dailyPrice | currency: "₺" }}</td>
              </tr>
            </tbody>
          </table>
          <div>
            <button
              *ngIf="isFindexEnough()"
              routerLink="/cars/payment/{{ carDetails?.carId }}"
              type="button"
              class="btn btn-outline-success"
              style="float: right"
            >
              Kirala
            </button>

            <button
              *ngIf="isCustomer()"
              routerLink="/customeradd"
              type="button"
              class="btn btn-outline-secondary"
              style="float: left"
            >
              Müşteri Ol
            </button>
            <button
              *ngIf="isAdmin()"
              type="button"
              class="btn btn-outline-secondary"
              routerLink="update/{{ carDetails?.carId }}"
              style="float: left"
            >
              Güncelle
            </button>
          </div>
        </div>
        <div class="card-footer text-center" *ngIf="!isFindexEnough()">
          Findeks Puanınız Yetersiz
        </div>
      </div>
    </div>
  </div>
</div>
