<div class="container">
  <div>
    <app-navi></app-navi>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <button
        routerLink="/cars"
        type="button"
        class="btn btn-warning"
        style="float: right"
      >
        Araba Listesine Dön
      </button>
    </div>
    <div
      *ngIf="dataLoaded == false"
      class="spinner-border text-primary"
      role="status"
    >
      <span class="sr-only"></span>
    </div>
    <div class="col-md-6">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            *ngFor="let image of images; let i = index"
            [ngClass]="getSlideClass(i)"
          >
            <img
              src="https://localhost:44368\{{ image.imagePath }}"
              class="d-block img-fluid img-thumbnail w-100"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="width: 35rem">
        <div class="card-header">
          <button
            *ngIf="isAdmin()"
            type="button"
            (click)="deleteCar()"
            class="btn btn-outline-danger"
            style="float: right"
          >
            Sil
          </button>
          <h5 class="card-title">ARABA DETAYLARI</h5>
        </div>

        <div class="card-body">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">Araba Adı:</th>
                <td>{{ carDetails?.carName }}</td>
              </tr>
              <tr>
                <th scope="row">Markası:</th>
                <td>{{ carDetails?.brandName }}</td>
              </tr>
              <tr>
                <th scope="row">Modeli:</th>
                <td>{{ carDetails?.modelYear }}</td>
              </tr>
              <tr>
                <th scope="row">Rengi:</th>
                <td>{{ carDetails?.colorName }}</td>
              </tr>
              <tr>
                <th scope="row">Findeks Puanı:</th>
                <td>{{ carDetails?.findexPoint }}</td>
              </tr>
              <tr>
                <th scope="row">Günlük Vereceği Findeks Puanı:</th>
                <td>{{ carDetails?.giveToPoint }}</td>
              </tr>
              <tr>
                <th scope="row">Açıklama:</th>
                <td>{{ carDetails?.description }}</td>
              </tr>
              <tr>
                <th scope="row">Günlük Ücret:</th>
                <td>{{ carDetails?.dailyPrice | currency: "₺" }}</td>
              </tr>
            </tbody>
          </table>
          <div>
            <button
              *ngIf="isFindexEnough()"
              routerLink="/cars/payment/{{ carDetails?.carId }}"
              type="button"
              class="btn btn-outline-success"
              style="float: right"
            >
              Kirala
            </button>

            <button
              *ngIf="isCustomer()"
              routerLink="/customeradd"
              type="button"
              class="btn btn-outline-secondary"
              style="float: left"
            >
              Müşteri Ol
            </button>
            <button
              *ngIf="isAdmin()"
              type="button"
              class="btn btn-outline-secondary"
              routerLink="update/{{ carDetails?.carId }}"
              style="float: left"
            >
              Güncelle
            </button>
          </div>
        </div>
        <div class="card-footer text-center" *ngIf="!isFindexEnough()">
          Findeks Puanınız Yetersiz
        </div>
      </div>
    </div>
  </div>
</div>
