<div class="content">
  <div class="col-md-12">
    <div class="card" style="width: 22rem">
      <div class="card-header">
        <i class="fas fa-user-circle"></i>
        <h3 style="text-align: center">{{ firstName }} {{ lastName }}</h3>
      </div>

      <div class="card-body">
        <form [formGroup]="userUpdateForm">
          <div class="mb-3">
            <label for="firstName"> İSİM </label>
            <div class="form-group">
              <input
                type="text"
                id="firstName"
                formControlName="firstName"
                class="form-control"
                value="{{ firstName }}"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="lastName"> SOYİSİM </label>
            <div class="form-group">
              <input
                type="text"
                id="lastName"
                formControlName="lastName"
                class="form-control"
                placeholder=""
                value="{{ lastName }}"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="email"> EMAİL </label>
            <div class="form-group">
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control"
                readonly
                placeholder="{{ email }}"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button style="float: right" class="btn btn-fill btn-primary">
          Güncelle
        </button>

        <h5 style="float: right">
          Müşterimiz olup hemen 100 findeks puan kazanma şansını kaçırmayın!
        </h5>
        <button
          style="float: left"
          class="btn btn-fill btn-secondary"
          routerLink="/customeradd"
        >
          Müşteri Formu
        </button>
      </div>
    </div>
  </div>
</div>
