<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Kiralamalar
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item"></a></li>
    <li><a class="dropdown-item"></a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item"></a></li>
    <li>
      <button type="button" class="btn btn-success">KİRALA</button>
    </li>
  </ul>
</li>
